<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <connectionStrings>
    <add name="Veritabani" connectionString="server=sql8.freemysqlhosting.net;database=sql8144588;;uid=sql8144588;password=QRVm1C45PT;" />

    

    <!--<add name="Cosar_FotografcılıkConnectionString" connectionString="Data Source=BUBILGISAYAR\SQL2014DEV;Initial Catalog=E_ticaret;User ID=sa;Password=342516"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="none"/>
  </appSettings>

  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear/>
        <add value="index.aspx"/>
        <add value="giris.aspx"/>
        <add value="kayit.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>  

</configuration>
